.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neon-logo{
    width: 200px;
    margin-bottom: 30px;
}

.login-form{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    background-color: var(--nightcolor);
    border-color: white;
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    padding: 2px;
    margin-left: 0px;
    margin-bottom: 8px;
}

.login-form label{
    align-self: start;
}

.login-btn {
    margin-top: 10px;
    margin-right: 0;
    background-color: var(--neongreen);
    align-self: end;
}

.error-legend{
    
}